* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main {
    width: 700px;
    height: 300px;
    border: 2px solid gray;
    
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#board {
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end; 
    overflow: hidden;
}
#board img {
    width: 100px;
    height: 150px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}
#board img.enlarged {
    transform: scale(1.5) translateY(-25px);
    z-index: 5;
    padding: 0 5px;
}
