body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  background-color: black;
  display: flex;
  width: full;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}
.nav a{
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.main{
  display: flex;
  gap:1rem;
  padding: 1rem;
  height: 500px;
}
.content{
  flex: 3;
  background-color: white;
  padding: 1em;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.sidebar{
  flex: 1;
  padding: 1em;
  background-color: lightgray;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.footer{
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
  }
}