body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 500px;
    height: 200px;
    border: 0.5em solid #698733;
    border-radius: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}    
img{
    height: 70%;    
}