body{ 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.flag{
    width: 300px;
    height: 200px;
    background-color: white;
    position: relative;
    border: 2px solid gray;
}
.circle{
    border-radius: 50%;
    background-color: red;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
